<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/main :: main-fragment(
       ~{:: title},
       ~{:: #content}
       )}">
<head>
    <meta charset="UTF-8">
    <title>Add lecturer</title>
</head>
<body>
<div id="content" style="width: 600px; margin: auto; margin-top: 60px;">
    <form action="/courses/addLecturer" method="post">
        <p class="h4 col-sm-10">Attach lecturer to a course</p>
        <label class="control-label col-sm-4" for="student">Lecturer:</label>
        <div class="form-group col-sm-10">
            <select name="lecturerId"
                    id="student"
                    class="custom-select">
                <option th:each="lecturer : ${lecturers}"
                        th:text="${lecturer.getFirstName() + ' ' + lecturer.getLastName()}"
                        th:value="${lecturer.getId()}">
                </option>
            </select>
        </div>
        <input type="hidden" name="courseId" th:value="${param.courseId}">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-info">Save</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>