<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/main :: main-fragment(
       ~{:: title},
       ~{:: #content}
       )}">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<div id="content" style="width: 600px; margin: auto; margin-top: 60px">
    <style>
        .alert {
            line-height: 0.5;
        }
    </style>
    <form class="form-horizontal" th:object="${lecturer}" action="/lecturers/save" method="post">
        <p class="h4 col-sm-10">Add lecturer</p>
        <div class="alert alert-danger col-sm-10" role="alert" th:if="${#fields.hasErrors('firstName')}">
            <p th:each="error: ${#fields.errors('firstName')}"
               th:text="${error}"
            >Name Error</p>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="firstName">First name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="firstName" placeholder="Enter first name"
                       th:field="*{firstName}"
                       required
                       autofocus>
            </div>
        </div>
        <div class="alert alert-danger col-sm-10" role="alert" th:if="${#fields.hasErrors('lastName')}">
            <p th:each="error: ${#fields.errors('lastName')}"
               th:text="${error}"
            >Name Error</p>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="lastName">Last name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="lastName" placeholder="Enter last name"
                       th:field="*{lastName}"
                       required
                       autofocus>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-info">Save</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>